<main>
    <div class="container">
        <img src="img/logo.png" class="rounded mx-auto d-block"  >
        <br> <br>
         <p class="fs-1 text-center ml-auto" id="titulo">Monitoreo y Mantenimiento</p>
        <p class="fs-3 text-center" id="titulo">Coordinación de Parquímetros</p>
    </div>  
</main>